.event-list {

}
.event-list .event-card {
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: 75px auto;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
}

.event-list .event-card .left, .right {
  padding: 6px;
}
.event-list .event-card .left img{
  width: 100%;
}