.navigation-bar {
  display: grid;
  grid-template-columns: auto 2px 85px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  margin: 8px;
  height: 48px;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 392px;
  background-color: white;
}

.navigation-bar .searchbox, .links-box {
  border-radius: 2px;
  height: inherit;
  padding: 10px;
}

.navigation-bar .links-box {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.navigation-bar .svg-icon{
  fill: rgba(0, 0, 0, 0.4);
  width: 27px;
}

.navigation-bar .logout:hover path{
  fill: rgb(224, 58, 62);
}

.navigation-bar .profile:hover path {
  fill: rgb(66, 133, 244);
}

.navigation-bar .separator {
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

/* --- React Autosuggest Styling ---*/
.navigation-bar .searchbox .react-autosuggest__container {
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 86%;
  top: -8px;
  left: 14px;
}

.navigation-bar .searchbox .react-autosuggest__input {
  line-height: 23px;
  width: 100%;
  border: none;
}

.navigation-bar .searchbox .react-autosuggest__suggestions-container {
  background-color: white;
}

.navigation-bar .searchbox .react-autosuggest__suggestions-container--open {
  width: 392px;
  left: -51px;
  top: 36px;
  position: absolute;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px
}

.navigation-bar .searchbox .react-autosuggest__suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-bar .searchbox .suggestion-item {
  height: 38px;
  padding-left: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-bar .searchbox .suggestion-item .pin {
  width: 20px;
}
.navigation-bar .searchbox .react-autosuggest__suggestion--highlighted {
  background-color: rgba(140, 140, 140, 0.1);
}
