.add-establishment .form-box{
  height: 48px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  padding: 10px;
}

/* Stubborn div put there by GoogleApiWrapper */
.add-establishment .form-box > form > div{
  display: inline-block;

}

.add-establishment .form-box > form {
  display: inline-block;
}
.add-establishment .form-box .svg-icon {
  fill: rgba(0, 0, 0, 0.4);
  width: 27px;
}

.add-establishment .form-box .places-autocomplete {
  position: relative;
  top: -9px;
  left: 14px;
  line-height: 23px;
  width: 264px;
  border: none;
}

.add-establishment .form-box button {
  border: 0;
  margin-left: 20px;
  background: none;
  color: white;
}


/* --- Google Autocomplet Styling ---*/
.add-establishment .form-box .pac-container {
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 86%;
  top: -8px;
  left: 14px;
}