body {
  margin: 0; 
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
}