.establishment-profile {
  font-family: 'Raleway', sans-serif;
}

.establishment-profile > .top{
  overflow: hidden;
  height: 400px;
}

.establishment-profile .top > img{
  min-width: 408px;
  min-height: 400px;
}

.establishment-profile .middle {
  color: whitesmoke;
  min-height: 170px;
  background-color: rgb(74, 35, 40);
  padding: 4%
}

.establishment-profile .button {
  position: relative;
  float: right;
  margin-top: -48px;
  width: 86px;
  text-align: center;
}

.establishment-profile .button p {
  padding-top: 8px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

.establishment-profile .button a {
  text-decoration: none;
}

.establishment-profile .button .add-event {
  margin: 0 auto;
  background: radial-gradient(circle, white, white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
}
.establishment-profile .button .add-event:hover {
  box-shadow: rgba(0, 0, 0, 0.52) 0px 0px 14px 4px
}

.establishment-profile .button .plus-icon {
  width: 28px;
  margin: 17px 0;
}

.establishment-profile .button .plus-icon path {
  fill: rgb(74, 35, 40);
}

.establishment-profile > .bottom {
  padding: 4%
}
