.event-list > .event-card {
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  padding: 4%
}

.event-list > .event-card .top {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  text-align: center;
  box-shadow: 0 8px 8px -10px black;
  margin-bottom: 4%;
}

.event-list > .event-card .top .vs{
  font-weight: bold;
  font-size: 1.7em;
  margin: 44% 0;
}
.event-list > .event-card .top img {
  width: 75px;
}

.event-list > .event-card > .bottom .league-badge-container {
  text-align: center
}

.event-list > .event-card > .bottom .league-badge-container img {
  width: 40px;
}  