## Request mapping template
{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "limit": 10,
    "filter" : {
      "expression": "contains(#establishment_name, :pattern)",
      "expressionNames": {
        "#establishment_name": "name"
      },
      "expressionValues": {
        ":pattern": { "S": "${ctx.args.pattern}" }
      } 
    }
}