## Request template
{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "atEstablishmentId": $util.dynamodb.toDynamoDBJson($ctx.args.atEstablishmentId),
        "timeStart": $util.dynamodb.toDynamoDBJson($ctx.args.timeStart)
    },

    #set ( $eventObj = $util.dynamodb.toMapValues($ctx.args) )
    #set ( $eventObj.id = $util.dynamodb.toString($util.autoId()) )

    "attributeValues" : $util.toJson($eventObj)
}