{
  "version": "2017-02-28",
  "operation": "GET",
  "path": "/events-index/_search",
  "params": {
    "headers": {},
    "queryString": {},
    "body": {
      "from": 0,
      "size": 10,
      "sort": [
        "_score"
      ],
      "query": {
        "multi_match": {
          "query": "$ctx.args.pattern",
          "type": "cross_fields",
          "fields": [
            "homeTeam",
            "awayTeam"
          ]
        }
      }
    }
  }
}
